@media (max-width: 767px) {
	
	/*SEARCH PAGE*/
	#module{
		display: none;
	}
	nav{margin-bottom: 0px; padding-bottom:0px;}
	
	form#search{
		width: 100%;
		margin-bottom: 0px;
	}
	form#search input[type=text]{
		font-size: 25px;
	}
	form#search input[type=submit]{
		width: 25px;
		height: 25px;
	}
	
	.basic-list{
		display: block;
		margin-top: -30px;
	}
	.basic-list h2{
		text-align: center;
		color: black;
	}
	.basic-list li{
		
		border-top: 1px solid black;
		padding: 5% 3% 5% 3%;
		text-transform: uppercase;
		color: #FFF;
		text-align: center;
		font-size: 1.5em;
	}
	
	.basic-list li:first-child{background-color: rgba(41,128,185,1);}
	.basic-list li:nth-child(n+2) {background-color: rgba(41,128,185,0.8); }
	.basic-list li:nth-child(n+4) {background-color: rgba(41,128,185,0.6);}
	.basic-list li:nth-child(n+7) {background-color: rgba(41,128,185,0.4);  }
	.basic-list li:last-child{border-bottom: 1px solid black;}
}